:root {
  --bg-color: #282727;
  --text-color: #fdfdfd;
  --disabled-color: #5c5c5c;
  --primary-color: #97c4a4;

  scrollbar-gutter: stable;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  margin: auto;
  max-width: 768px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--disabled-color);
}

footer {
  border-top: 1px solid var(--disabled-color);
  margin-top: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul.menu {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-inline-start: 0px;
}

ul.menu li {
	margin-right: 2rem;
}

ul.menu > li > a.active {
	color: var(--main-color);
	font-weight: 600;
}


p {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}
