*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--bg-color: #1A1C1A; /* dark gray with a hint of green */
	--text-color: #E0E0E0; /* soft off-white */
	--disabled-color: #777777; /* neutral mid-gray */
	--primary-color: #6A9955; /* muted forest green */
	--image-border-color: #444444; /* darker, less prominent border for images */

	scrollbar-gutter: stable;
}

body {
	font-family: Georgia, serif;
	font-optical-sizing: auto;
	line-height: 1.5;
	margin: auto;
	max-width: 820px;
	background-color: var(--bg-color);
	color: var(--text-color);
	padding: 0 1rem;

	& > #container {
		margin: 1rem;
		padding: 1rem;
		border: 1px dashed var(--disabled-color);
		border-radius: 5px;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	border: 1px solid var(--image-border-color);
	padding: 0.2rem;
	border-radius: 3px;
}

header {
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--disabled-color);
}

footer {
	border-top: 1px solid var(--disabled-color);
	margin-top: 1rem;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

ul.menu {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-inline-start: 0px;
}

ul.menu li {
	margin-right: 2rem;
}

ul.menu > li > a.active {
	color: var(--primary-color);
	text-decoration: underline;
	text-underline-offset: 5px;
}

